* {
    scroll-behavior: smooth;
}

body {
    display: flex; /*untuk semua child elemen yang didalam body*/
    margin: 0;
    padding: 0;
}

main header, nav header {
    font-weight: bold;
    font-size: 1.2em;
}

/* NAV */
nav {
    border-right: 2px solid #000;
    width: 500px;

}

nav header {
    padding-left: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    border-top: 2px solid #000;
    color: #000;
    transition: .3s;
}

nav a:hover {
    background-color: #f7ecb5;
    font-size: larger;
}


/* MAIN */
main {
    height: 100vh;
    overflow-y: scroll;
    /* Membuat scroll tapi layar kiri tetap fixed */
    padding: 0 1em;
}

main header {
    padding: 1%;
}

main img {
    display: flex;
    justify-content: center;
}

/* MEDIA */
@media (max-width: 576px) {
    body {
        flex-direction: column;
    }

    nav {
        border: 1px solid #000;
        overflow-y: scroll;
        height: 300px;
        width: 100%;
    }

    main {
        overflow-y: unset;
    }

    img {
        width: 70%;
    }
}